@model ExemploEF.Models.Ficha

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ficha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaEquipamentoNota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaEquipamentoNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PontualidadeNota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontualidadeNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConteudoNota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConteudoNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstrutorNota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstrutorNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dificuldade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dificuldade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sugestao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sugestao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
